body{
    margin: 1%;
}
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
section{
    background-color: rgb(157, 175, 179);
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    display:inline-block;
    margin: 0.1em;
    min-width: 10%;
    justify-content: center;
}

h1, h2{
    color: rgb(40, 49, 173);
}

h1, h2, p, footer{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img{
    max-width: 70%;
    max-height: 60%;
    margin-left: 13%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 600px) {
    .cards{
        display:grid;
        grid-template-columns: 1fr;
    }
    img{
        max-width: 80%;
        max-height: 60%;
        margin-left: 16%;
        margin-bottom: 3%;
        box-shadow: 5px 5px 5px black;
    }
}

